<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>LUXURY HOUSE</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet"

 href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  
<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="#home" class="w3-bar-item w3-button"><b>LH</b>LUXURY HOUSE</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
          <a th:href="@{/home}"  class="w3-bar-item w3-button">Home</a>
     <a th:href="@{/users}" class="w3-bar-item w3-button">Users</a>
      <a th:href="@{/reservations}"  class="w3-bar-item w3-button">Reservations</a>
     <a th:href="@{/reclamations}"    class="w3-bar-item w3-button"     >Reclamations</a>
      <a th:href="@{/bienImmobiliers}" class="w3-bar-item w3-button">BienImmobilier</a>
          
    <a th:href="@{/}" class="w3-bar-item w3-button">Signout</a>
    
    </div>
  </div>
</div>
 <h1  class = "text-center">   Create new BienImmobilier   </h1> 
 
     <div class =  "container">
      <div class = "row">
        <div class ="col-md-12 ">
        <h1  class = "text-center">   Create new BienImmobilier   </h1>  
        <div class = "card-body">
        
          <form th:action= "@{/bienImmobiliers}" th:object="${ bienImmobilier}" method="POST">
          
          
            <div Class ="form-group"    >
           <label>  BienImmobilier Name </label>
             <input   type = "text"
            name= "name"       
             class = "form-control"
             placeholder=" Enter bienImmobilier Name "
             />
             </div>
             
             <div Class ="form-group"    >
           <label>  BienImmobilier description </label>
            <input   type = "text"
             name="description"
             class = "form-control"
             placeholder=" Enter BienImmobilier description "
             />
             </div>
              
            
             <div Class ="form-group"    >
           <label>  BienImmobilier nbPieces </label>
            <input   type = "text"
             name="nbPieces" 
             class = "form-control"
             placeholder=" Enter BienImmobilier nbPieces "
             />
             </div>
               
               
               <div Class ="form-group"    >
           <label>  BienImmobilier  address</label>
            <input   type = "text"
             name="address"
           
             class = "form-control"
             placeholder=" Enter BienImmobilier address "
             />
             </div>
              
            <div Class ="form-group"    >
           <label>  BienImmobilier Contact</label>
            <input   type = "text"
             name="Contact"
           
       
           
             class = "form-control"
             placeholder=" Enter BienImmobilier  Contact "
             />
             </div>
            
            
           
           
            
             
                 <div class="form-group">
                            <label for="images">Upload Images</label>
                            <input type="file"  class="form-control-file border" id="images">
                        </div>
          
                 <div Class ="form-group"    >
                 
                 
                 
                 
           <label>  BienImmobiliertype</label>
            <input   type = "text"
             name="Type"
           
        
           
             class = "form-control"
             placeholder=" Enter BienImmobilier  Type"
             />
             </div>
            
        
        
          
                        
                        
          <div class = "box-footer">
          
           <button type="submit" class ="btn btn-primary">
           Submit
           </button>
          </div> 
          </form>
        </div>
        </div>
         </div>
          </div>
</body>
</html>