<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>LUXURY HOUSE</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet"
 href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
crossorigin="anonymous">
</head>
<body>
  
<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="#home" class="w3-bar-item w3-button"><b>LH</b>LUXURY HOUSE</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
          <a th:href="@{/}"  class="w3-bar-item w3-button">Home</a>
        <a th:href="@{/users}"  class="w3-bar-item w3-button">Users</a>
      <a th:href="@{/reservations}"  class="w3-bar-item w3-button">Reservations</a>
     <a th:href="@{/reclamations}"    class="w3-bar-item w3-button"     >Reclamations</a>
      <a th:href="@{/bienImmobiliers}" class="w3-bar-item w3-button">BienImmobilier</a>
   
    <a th:href="@{/}" class="w3-bar-item w3-button">Signout</a>
    </div>
  </div>
</div>


   <div class ="container">
   <div class = "row">
			<h1> List Users </h1>
		</div>
		
		<div class = "row">
			<h1> List Users </h1>
		</div>
		
		
		<div class = "row">
			<div class = "col-lg-3">
				<a th:href = "@{/users/new}" class = "btn btn-primary btn-sm mb-3"> Add user</a>
			</div>
		</div>
		
		
		<table class = "table table-striped table-bordered">
			<thead class = "table-dark">
				<tr>
				<th> User id</th>
					<th>  User First Name</th>
					<th>  User Last Name</th>
					<th>  User Email </th>
					<th> User cin</th>
					<th>  User phoneNumber </th>
				
					<th> Actions </th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each = "user: ${users}">
				
				
			     	<td th:text = "${user.id}"></td>
                    <td th:text = "${user.firstName}"></td>
					<td th:text = "${user.lastName}"></td>
					<td th:text = "${user.email}"></td>
					<td th:text = "${user.cin}"></td>
					<td th:text = "${user.phoneNumber}"></td>
						
					<td>
						<a th:href = "@{/users/edit/{id}(id=${user.id})}"
						 class = "btn btn-primary">Update</a>
						
						<a th:href = "@{/users/{id}(id=${user.id})}"
						 class = "btn btn-danger">Delete</a>
						 
					</td> 
				</tr>
			</tbody>
		
		</table>
		<!-- Pagination -->
  <div class="w3-center w3-padding-32">
    <div class="w3-bar">
      <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
      <a href="#" class="w3-bar-item w3-black w3-button">1</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
    </div>
	</div>
